<div class="jumbotron jumbotron_width min_height">
  <h1 class="display-4 center">よくある質問</h1>
  <p class="lead">Q. 画像をアップロードすることができないのですが？</p>
  <p>A. iPhoneより撮影された写真の場合、ファイルの拡張子が.heif、もしくは.heicとなっていることがあります。そのようなファイルは現在対応していないため、以下のいずれかに変換してからアップロードするようお願いします。</p>
  <p>[ .jpg .jpeg .png .gif ]</p>
</div>