<div class="jumbotron jumbotron_width">
  <div class="form_container">
    <h1>パスワードがわからない</h1>
    <%= form_with(url: password_resets_path, scope: :password_reset,
                    local: true) do |f| %>
      <%= f.label :email, "登録されているメールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "送信する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>