<h1>Sweets Blog</h1>

<p><%= @user.name %>様,</p>

<p>
Sweets Blog へようこそ! 以下のリンクを押してアカウントを有効化してください：
</p>

<%= link_to "アカウントの有効化を実行する", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>