<% provide(:button_text, "Save shanges") %>
<div class="jumbotron jumbotron_width">
  <div class="form_container">
    <h1>プロフィールの変更フォーム</h1>
    <%= image_tag @user.avatar.url, size: '100x100', alt: "User Image" %>
    <%= render 'form' %>
  </div>
</div>