<div class="col-md-8">
  <h3>登録済みの全ユーザー</h3>
  <%= will_paginate @users %>
  <ul class="users">
    <%= render @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </ul>
  <%= will_paginate %>
</div>