<div class="search-container">
  <%= form_tag(search_posts_path,:method => 'get') do %>
    <%= text_field_tag :search, '', { class: 'search-txt' } %>
    <%= button_tag(type: 'submit', class: 'search-btn', name: nil) do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>