<aside class="col-md-4">
  <section class="user_info">
    <%= render 'shared/user_info' %>
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
  <section class="follow_button">
    <%= render 'shared/follow_form' if logged_in? %>
  </section>
</aside>