<% @user ||= current_user %>
<% if @user.avatar %>
  <%= link_to image_tag(@user.avatar, size: '100x100', alt: "User Image"), @user %>
<% end %>
<h1><%= @user.name %></h1>
<span><%= pluralize(@user.posts.count, "post") %></span>