<% if current_user.avatar %>
  <%= link_to image_tag(current_user.avatar, size: '100x100', alt: "User Image"), current_user %>
<% end %>
<h1><%= current_user.name %></h1>
<span><%= link_to "編集", current_user %></span>
<span><%= pluralize(current_user.posts.count, "post") %></span>